// $Id$
// Values are specified here to be used in the files imported by tiki_base.scss and theme style sheets.

@import "bs3-bs4-transition.scss";
@import "../../default/scss/variables";
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/mixins/buttons";
$padding-y: .5rem; // Not sure where this is used besides buttons and pagination; not sure where it's defined in BS4
$padding-x: .75rem;
$module-h3-card-title-font-size: $h4-font-size !default;
// Older
$topmodules-row-sidemargins: 0;
$topbar-row-sidemargins: 0;
$topbar-row-margin-bottom: 1.4rem;
//$panel-heading-padding: .8rem 15px;
$navbar-fixed-height: 3.25rem;
$form-horizontal-sidemargins: 15px;

// Add Tiki legacy breadcrumb styles as variables.
$breadcrumb-font-style: normal;
$breadcrumb-font-size: 90%;
$breadcrumb-display: block;

// These rules are to map Bootstrap variables to superfish menus and topbar div styling.
$cssmenu_horiz_li_hover_bg: transparent;
$cssmenu_ul_border: $dropdown-border-color;
$cssmenu_ul_li_a_bg: $dropdown-bg;
$cssmenu_ul_li_a_color: $dropdown-link-color;
$cssmenu_ul_li_hover_a_color: $dropdown-link-hover-color;
$cssmenu_ul_li_hover_a_bg: $dropdown-link-hover-bg;
//$topbar_bg: $bg-dark;
//$navbar-dark-bg: $bg-dark; // Not sure how BS4 specifies this.
//$topbar_color: $navbar-dark-color;
//$topbar_link_color: $navbar-dark-color;
//$topbar_link_padding_top: $navbar-padding-y;
//$topbar_link_padding_bottom: $navbar-padding-y;
//$topbar_link_hover_color: $navbar-dark-hover-color;

$dropdown-title-color: $dropdown-link-color;

// Enable bringing  center column background back up to topbar when side column toggle icons are used
$top-margin-compensation-for-side-col-toggle: -$line-height-base;

// Map Bootstrap variables to Chosen selectors
$chosen-background: $input-bg;
$chosen-border: 1px solid $input-border-color;
$chosen-border-radius: $input-border-radius;
$chosen-multi-border-radius: $chosen-border-radius;
$chosen-box-shadow: "inset 0 1px 1px rgba(0, 0, 0, .075)";
$chosen-drop-border: $input-border-color;
$chosen-drop-box-shadow: "0 8px 8px rgba(0, 0, 0, .25)";
$chosen-drop-zindex: 1060;
$chosen-focus-border: 1px solid $input-focus-border-color;
$chosen-focus-box-shadow: "0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6)";
$chosen-focus-transition: "border linear .2s, box-shadow linear .2s";
$chosen-height: $input-height;
$chosen-multi-height: $input-height;
$chosen-active-result: $input-color;
$chosen-single-height: $input-height; // "Make inputs at least the height of their button counterpart (base line-height + padding + border)"
$chosen-padding-base-vertical: $padding-y;
$chosen-padding-base-horizontal: $padding-x;
$chosen-font-size-base: $font-size-base;
$chosen-line-height: $line-height-base;
$chosen-text-muted-bg-info: lighten($info,90%);

// Calendars
$calendarweek-bottom-border-color: $table-border-color;
$calprio1: #dae0e0;
$calprio2: #dadcdc;
$calprio3: #dad0d0;
$calprio4: #dacaca;
$calprio5: #cac0d0;
$calprio6: #dababa;
$calprio7: #cab0b0;
$calprio8: #daaaaa;
$calprio9: #da9a9a;

//  Admin
// $admbox-border: $btn-primary-border; //#cccccc;
// $admbox-bg: $btn-primary-bg; // #cccccc;
// $admbox-color: $btn-primary-color; // #333333;
// $admbox-hover-border: lighten($btn-primary-border, 5%); // #333333;
// $admbox-hover-bg: lighten($btn-primary-bg, 5%); // #aaaaaa;
// $admbox-hover-color: lighten($btn-primary-color, 5%); //#ffffff;
// $admbox-off-border: darken($btn-primary-border, 40%); //#a9a9a9;
// $admbox-off-color: darken($btn-primary-color, 40%); //#9f9f9f;
// $admbox-off-hover-border: darken($btn-primary-border, 40%); //#a9a9a9;
// $admbox-off-hover-color: darken($btn-primary-color, 40%); //#666666;

$table-column-bg-odd: darken($table-accent-bg, 5%);
// Correction for path for sorich87/bootstrap-tour's bootstrap-tour-standalone.less
$bootstrap-path: "../../../twbs/bootstrap/scss/";

// inline code
$code-color: #444444 !default;
$code-bg: #f8f8f8 !default;

// Tracker
$modal-link-color: $link-color;
$modal-link-hover-color: $link-hover-color;

// Make hierarchical arrangement of admin options more clear
$secondary-legend-font-size: 1.35rem;

// Plugin Pivot Table variables
$pvt-color: $body-color;
$pvt-bg: $table-bg;
$pvt-font-size: $font-size-base;
$pvt-table-bg: $table-bg;
$pvt-table-th-bg: $table-head-bg;
$pvt-table-th-color: $table-head-color;
$pvt-table-border-color: $table-border-color;
$pvt-modal-content-bg: $modal-content-bg;
$pvtAttr-color: $btn-primary-color;
$pvtFilterBox-button-color: $btn-primary-color;
$pvtFilterBox-button-bg: $btn-primary-bg;
$pvtFilterBox-button-hover-bg: adjust-hue($btn-primary-bg, 10%);
$pvtAggregator-color: $input-color;
$pvtAggregator-bg: $input-bg;
$pvtAggregator-border: $input-border-color;
$pvtAggregator-border-radius: $input-border-radius;
$pvtSelect-font-size: $font-size-base;
$c3-color: $body-color;

// Theme overrides of jQuery-UI styles
$jq-ui-btn-font-weight: normal;
$tiki-sheet-font-size: $font-size-base;
$tiki-sheet-border-color: $table-border-color;

// CKEditor colors
$editor-bg: $body-bg !default;
$editor-text-color: $body-color !default;

//jQuery-UI
$ui-default-border: $nav-tabs-border-color;
$ui-default-bg: $body-bg;
$ui-font-weight: $font-weight-normal;
$ui-default-color: $link-color;
$ui-default-link-color: $link-color;
$ui-default-link-active-color: $nav-tabs-link-active-color;
$ui-default-link-active-bg: $nav-tabs-link-active-bg;
$ui-active-border-color: $nav-tabs-link-hover-border-color;
$ui-active-bg: $nav-tabs-link-active-bg;
$ui-font-weight: $font-weight-normal;
$ui-active-color: $nav-tabs-link-active-color;
